{{>layouts/header}}
<!--인기 게시글-->
<main class="popular">
    <div class="exploreContainer">

        <!--인기게시글 갤러리(GRID배치)-->
        <div class="popular-gallery">

            <div class="p-img-box">
                <a href="/user/profile"> <img src="/images/home.jpeg" />
                </a>
            </div>
            <div class="p-img-box">
                <a href="/user/profile"> <img src="/images/home.jpeg" />
                </a>
            </div>
            <div class="p-img-box">
                <a href="/user/profile"> <img src="/images/home.jpeg" />
                </a>
            </div>
            <div class="p-img-box">
                <a href="/user/profile"> <img src="/images/home.jpeg" />
                </a>
            </div>
            <div class="p-img-box">
                <a href="/user/profile"> <img src="/images/home.jpeg" />
                </a>
            </div>
            <div class="p-img-box">
                <a href="/user/profile"> <img src="/images/home.jpeg" />
                </a>
            </div>
            <div class="p-img-box">
                <a href="/user/profile"> <img src="/images/home.jpeg" />
                </a>
            </div>
        </div>

    </div>
</main>
{{>layouts/footer}}
