{{>layouts/header}}
<!--인기 게시글-->
<main class="popular">
    <div class="exploreContainer">

        <!--인기게시글 갤러리(GRID배치)-->
        <div class="popular-gallery">
            {{#images}}
                <div class="p-img-box">
                    <a href="/user/{{user.id}}"> <img src="/upload/{{postImageUrl}}" />
                    </a>
                </div>
            {{/images}}
        </div>

    </div>
</main>
{{>layouts/footer}}
